@{
    Layout = "Layout";
}

<!--start About Us-->
<h1 id="logo">SUPER TACO</h1>


<p id="aboutus">Acerca de nosotros</p>

<p class="textomain">
    
    <img src="~/images/restaurante2.jpeg" id="pruebaimagen" />
    Somos un restaurante familiar <br />ubicado en Nueva Rosita, Coahuila
    desde el 2001.<br />
    Al entrar aquí podrás conocer muchos objetos <br />que han surgido a través de los años,<br />
    mientras disfrutas de una rica cena.
   

</p>

<div class="fotosmain">
     <img src="~/images/pared.jpeg" class="galeria" />
    <img src="~/images/mesas.png" class="galeria" />
    <img src="~/images/pared2.jpeg"class="galeria" />
</div>
<div class="fotosmain">
    <img src="~/images/gringa.jpeg"class=" galeria" />
    <img src="~/images/torta.jpeg" class="galeria" />
    <img src="~/images/totopos.jpeg"class=" galeria" />
</div>
    @*<h1 class="slogan">Super Taco</h1>*@


