@{
    Layout = "Layout";
}

<!--start About Us-->
<header>
    <h1>SUPER TACO</h1>
    <p>Desde el 2001.</p>
</header>

<div class="container">

    <div class="grid-item">
        <img class="imgind" src="~/images/restaurante2.jpeg" />
    </div>

    <div class="grid-item">
        <img class="imgind" src="~/images/pared2.jpeg"/>
    </div>

    <div class="grid-item">
        <img class="imgind" src="~/images/mesas.png" />
    </div>

    <div class="grid-item">
        <img class="imgind" src="~/images/torta.jpeg" />
    </div>

    <div class="grid-item">
        <img class="imgind" src="~/images/totopos.jpeg" />
    </div>

    <div class="grid-item">
        <img class="imgind" src="~/images/super.jpeg" />
    </div>

    <div class="grid-item">
        <img class="imgind" src="~/images/gringa.jpeg" />
    </div>

    <div class="grid-item">
        <img class="imgind" src="~/images/postres.png" />
    </div>

    <div class="grid-item">
        <img class="imgind" src="~/images/pared.jpeg" />
    </div>


</div>