@{
    Layout = "Layout";
}
<form>
  <img src="~/images/gringa.jpeg" id="imagePrincipal" />
    <img src="~/images/restaurante.jpeg" id="imagePrincipal" />
    <h1 class="slogan">Super Taco</h1>
</form>

