body, html {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    
    background-color: white;
}

.capa {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    z-index: -1;
    top: 0;
    left: 0;
}
/*Estilos para el encabezado*/
.header {
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    background-size: cover;
    background: url(images/header7.png);
    image-rendering: optimizeQuality;
}

.container {
    width: 100%;
    position: page;
    
}

 

    .container .btn-menu, .logo {
        float: left;
        line-height: 100px;
    }


        .container .btn-menu label {
            color: #fff;
            font-size: 35px;
            cursor: pointer;
            line-height: 100px;
            padding-left: 30px;
           
        }


        .logo h1 {
            color: #fff;
            font-weight: 400;
            font-size: 60px;
            position: page;
            padding-block-start: 8%;
            padding-inline-start: 400px;
            font-family: 'Times New Roman', Times, serif;
        }

    /* .logo h2 {
            color: #a96700;
            font-weight: 400;
            font-size: 60px;
            margin-left: 500px;
            padding-top: 70px;
            font-family:'Brush Script MT';
        }*/


    .container .menu {
        float: right;
        line-height: 100px;
    }

        .container .menu a {
            display: inline-block;
            padding: 15px;
            line-height: normal;
            text-decoration: none;
            color: #fff;
            transition: all 0.3s ease;
            border-bottom: 2px solid transparent;
            font-size: 18px;
            margin-right: 5px;
            position: page;
           
        }

            .container .menu a:hover {
                border-bottom: 2px solid #ffbe00;
                padding-bottom: 5px;
            }
/*Fin de Estilos para el encabezado*/

/*Menù lateral*/
#btn-menu {
    display: none;
}

.container-menu {
    position:  fixed ;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible;
}

.cont-menu {
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#btn-menu:checked ~ .container-menu .cont-menu {
    transform: translateX(0%);
}

.cont-menu nav {
    transform: translateY(15%);
}

    .cont-menu nav #menu {
        font-size: 25px;
        display: block;
        text-decoration: none;
        /* padding: 20px;*/
        position: center;
        color: #ffbe00;
        border-left: 0px solid transparent;
        padding-inline-start: 35%;
        transition: unset;
        padding-block-start:0%;
        border-bottom:1px solid rgba(0,0,0,0.6);
    }

    .cont-menu nav a {
        display: block;
        text-decoration: none;
        padding: 20px;
        color: #c7c7c7;
        border-left: 5px solid transparent;
        transition: all 400ms ease;
        font-size: 18px;
        
    }

        .cont-menu nav a:hover {
            border-left: 5px solid #523a0a;
            /*background: #1f1f1f;*/
            background: #ffbe00;
            color:black;
        }

    .cont-menu nav #menu:hover {
        border-left: 0px solid #c7c7c7;
        background: unset;
    }

.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
/*Fin de Menù lateral*/

/*footer {
    background: #55ab00;
    height: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
*/


/*Start Footer*/
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*body {
    margin: 0;
    overflow-x: hidden !important;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
*/

a {
    text-decoration: none;
    outline: none !important;
    color: #fff;
}

.border-shape {
    background: #ffbe00 none repeat scroll 0 0;
    color: #fff;
    display: block;
    height: 3px;
    left: 0;
    margin: 20px auto;
    position: relative;
    right: 0;
    text-align: center;
    top: 0;
    width: 80px;
}

    .border-shape::before {
        background: #ffbe00 none repeat scroll 0 0;
        bottom: 0;
        content: "";
        height: 1px;
        left: 80px;
        margin: 0 auto;
        position: absolute;
        text-align: center;
        top: 1px;
        width: 100px;
    }

    .border-shape::after {
        background: #ffbe00 none repeat scroll 0 0;
        bottom: 0;
        content: "";
        height: 1px;
        margin: 0 auto;
        position: absolute;
        right: 80px;
        text-align: center;
        top: 1px;
        width: 100px;
    }











/*FOOTER*/
footer {
    width: 100%;
   margin-top:80%;
    background-color: #1c1c1c;
    color: #fff;
    position: page sticky;
}

.top_header {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: page;
}

    .top_header section {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .top_header span {
        padding: 0 1rem;
    }

    .top_header .fa {
        color: #ffbe00;
        font-size: 35px;
    }

footer .border-shape {
    width: 40%;
}

    footer .border-shape::before {
        width: 100%;
        left: 120px;
    }

    footer .border-shape::after {
        width: 100%;
        right: 120px;
    }

footer .bottom_content section {
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: Center;
}

.bottom_content a {
    margin: 0 20px;
    color: rgba(255,255,255,0.7);
    transition: 0.5s;
}

    .bottom_content a:hover {
        color: rgba(255,255,255,1);
    }


.copyright {
    padding: 0.8em 0;
    background-color: #1e1e1e;
    text-align: center;
    color: rgba(255,255,255,0.7);
    font-size: 12px;
}



@media (max-width:820px) {
    .top_header {
        padding: 1rem;
        display: block;
    }

        .top_header section {
            margin: 40px 0;
            align-items: left;
            justify-content: left;
        }

    footer .bottom_content section {
        padding: 1rem;
        display: block;
    }

        footer .bottom_content section a {
            padding: 1rem;
            font-size: 12px;
            margin: 0 5px;
            display: inline-block;
        }
}




.productos a {
    display: block;
    width: calc(25% - 10px);
    float: left;
    text-align: center;
    text-decoration: none;
    color: orangered;
    margin: 0 10px 30px 0;
}

    .productos a div {
        height: 140px;
    }

    .productos a img {
        max-height: 140px;
        max-width: 100%;
        display: block;
        margin: auto;
    }

    .productos a h3 {
        color: black;
        margin: 0;
    }


.datosproductos img {
    display: block;
    float: left;
    width: 30%;
}

.datosproductos p {
    display: block;
    width: 60%;
    float: right;
    margin: 0 10px;
}

    .datosproductos p label {
        display: inline-block;
        width: 25%;
        font-weight: bold;
    }


        .datosproductos p label:nth-child(2n) {
            display: inline-block;
            width: 70%;
            font-weight: normal;
        }

.admin {
    color: yellow;
}


.listado a, .listado .card {
    border: 2px solid rgb(85,171,0);
    width: 300px;
    display: block;
    margin: 0 5px 5px 0;
    float: left;
    text-decoration: none;
    position: relative;
}



.listado h1, .listado h2 {
    margin: 0;
    text-align: left;
    height: 25px;
    font-weight: bold;
    font-size: 20px;
    padding: 0 45px 0 5px;
    line-height: 25px;
    overflow: hidden;
    color: white;
    background: linear-gradient(to bottom, #55ab00 1%,#458a01 50%, #55ab00 100%);
}

.listado .mark h1 {
    color: yellow;
}

.listado h2 {
    background: none;
    color: darkgray;
    font-weight: normal;
    font-size: 15px;
    height: 15px;
    line-height: 15px;
}

    .listado h2[title] {
        height: 30px;
    }

.listado .image {
    width: 284px;
    height: 94px;
    margin: 5px;
    padding: 3px;
}

.listado img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.listado .botones {
    width: 50px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 5px;
}

    .listado .botones input, .listado .botones a {
        display: block;
        float: left;
        width: 21px;
        height: 21px;
        margin: 2px;
        border: 0;
        background-size: contain;
    }

.btnEditar {
    background-image: url(images/editb.png);
}

.btnBorrar {
    background-image: url(images/deleteb.png);
}

/*.1*/
.modal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
}

form > div {
    width: 500px;
    background-color: white;
    margin: 20px auto;
    padding: 15px;
    border: 2px solid gray;
    overflow: hidden;
}

.modal form > div {
    width: 500px;
    background-color: white;
    margin: 20px auto;
    padding: 15px;
    border: 2px solid gray;
    outline: 10px solid rgba(85, 171, 0, 0.30);
    overflow: hidden;
}


form input[type=submit], input[type=button] {
    display: block;
    float: left;
    width: 48%;
    height: 30px;
    margin: 0 1%;
    background-color: #55ab00;
    color: yellow;
}

form h1 {
    margin: 0 0 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

form div > label {
    float: left;
    height: 25px;
    line-height: 25px;
    box-sizing: border-box;
    width: 29%;
    margin: 0 1% 5px 0;
    text-transform: uppercase;
    font-size: 10pt;
}

form div > input, form div > select, form div > textarea {
    float: left;
    width: 70%;
    box-sizing: border-box;
    height: 25px;
    line-height: 25px;
    margin: 0 0 5px 0;
}

form div > textarea {
    width: 100%;
    resize: none;
    height: 50px;
}

form > div > img {
    clear: both;
    max-height: 100px;
    display: block;
    margin: auto;
}

#error, .error {
    text-align: center;
    color: red;
    font-size: smaller;
    margin: 5px 0;
}
